{% extends 'Base.html' %}
 {% block content %}

<form method="POST">
    {% csrf_token %}
    <small class="text-muted ts-12" >Filter</small>
    <input name="selection" id="" class="btn btn-sm btn-outline-secondary" type="submit" value="comic">
    <input name="selection" id="" class="btn btn-sm btn-outline-secondary" type="submit" value="manga">
</form>


{% for book in Books %}
<div class="card mt-2 mx-1" style="width: 12rem; display: inline-block;">
    <img src="{{ book.image.url }}" height="250px" width="200" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <h6 class="card-subtitle"> {{book.type}}</h6>
        <p class="card-text fs-5"> Release date: {{ book.publish_date }}</p>
     <a href="{% url 'Post' book.id %}" class="btn btn-primary">See more</a>

    </div>
</div>
{% endfor %}

    
{% endblock content %}