{% extends 'Base.html' %}
{% load static %}

{% block title %} Directory{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <a name="" id="" class="btn btn-success" href="{% url 'NewBook' %}" role="button">New Book</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Books</h4>
            <div class="table-responsive">
                <table class="table table-dark ">
                    <thead>
                        <tr>
                            <th scope="col"> ID</th>
                            <th scope="col"> Title</th>
                            <th scope="col"> imagen </th>
                            <th scope="col"> Description</th>
                            <th scope="col">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Book in Books %}
                            
                        
                        <tr class="">
                            <td scope="row">{{Book.id}}</td>
                            <td>{{Book.title}}</td>
                            <td>
                                <img src=" {{Book.image.url}}" height="150px", width="100px">
                               

                            </td>
                            <td>{{Book.description}}</td>
                            <td> <a name="" id="" class="btn btn-success" href="{% url 'EditBook' Book.id %}" role="button">Edit</a>  
                                <a name="" id="" class="btn btn-danger" href="{% url 'DeleteBook' Book.id %}" role="button">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
           
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>
{% endblock content %}