{% extends 'Base.html' %}
{% load static %}

{% block title %}  Home{% endblock title %}

{% block content %}
    <div class="row align-items-md-stretch">
        <div class="col-md-6 mt-5">
            <div
                class="h-100 p-5 text-white bg-dark border rounded-3">
                <h2>Welcome to Boring Cat!</h2>
                <p>Get started!</p>
                {% if user.is_authenticated %}
                <a href="{% url 'NewBook' %}"><button class="btn btn-outline-primary" type="button" > Add a new Book!</button></a>
                {% endif %}
                <a href="{% url 'Books' %}"><button class="btn btn-outline-primary" type="button" > See all books</button></a>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div
                class="h-100 p-5 bg-light border rounded-3">
                <h2>Forum</h2>
                <p>Come Talk</p>
                <button class="btn btn-outline-primary" type="button">Join Forum!</button>
            </div>
        </div>
    </div>
{% endblock content %}
