{% extends 'Base.html' %}
{% load static %}

{% block title %}New Post{% endblock title %}

{% block content %}
    

<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            Making a new post
        </div>
        <div class="card-body">
            <h4 class="card-title">Post Details</h4>
            {% include 'posts/newpostform.html' %}
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>

  {% endblock content %}


