{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8  mb-4 mt-3 left top">
      <div class="card-body d-flex mx-2">
        <img src="{{ Post.author.image.url }}" width="200px" height="250px" class="mr-3">
        <div class="mx-2">
          <h1>{% block title %} {{ Post.author.title }} {% endblock title %}</h1>
          {% if user.is_authenticated and user.is_staff%}
          <a name="" id="" class="btn btn-success" href="{% url 'EditPost' Post.author.id %}" role="button">Edit
            post</a>
          {% endif %}

          <hr>
          <small class="text-muted"> Release date</small>
          <p class="text-muted">{{ Post.author.publish_date }}</p>
          <small class="text-muted">Description </small>
          <p class="card-text">{{ Post.author.description | safe| linebreaks }}</p>

        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<p class="lh-1"> {{ Post.content | safe | linebreaks }} </p>
<hr>
<div class="card">
  <div class="card-header">
    <h2>Comment section!</h2>
  </div>
  <ul class="list-group list-group-flush">
    {% for comment in Post.comments.all %}
     <div class="card-title mx-2"> <strong> {{ comment.name }} at {{ comment.created_on }} </strong></div>
     <li class="list-group-item">{{ comment.body }}</li>
  
</article>
{% endfor %}
    
    
  </ul>
</div>




{% if user.is_authenticated %}
<form method="post">
  {% csrf_token %}
  <div class="form-group">
   
    <label for="{{ commentsForm.body.id_for_label }}"> <h5 class="card-header"> Add a comment: </h5></label>
   
  </div>
  <div class="card-body">
  {{ commentsForm.body }}
  </div>

  <input name="" id="" class="btn btn-success" type="submit" value="Add Comment">
</form>
{% else %}
 <p> <h2> Join our Community to add comments! </h2></p>
<a href="{% url 'Login' %}"><button class="btn btn-outline-success">Login</button></a>
<a href="{% url 'Signup' %}"><button class="btn btn-outline-success">Signup</button></a>
{% endif %}
{% endblock content %}